pexpect==4.9.0
multitasking==0.0.11
absl-py==2.1.0
Pygments==2.19.1
pandas==2.2.3
decorator==5.1.1
idna==3.10
traitlets==5.14.3
tensorflow-io-gcs-filesystem==0.37.1
nest-asyncio==1.6.0
Markdown==3.7
ptyprocess==0.7.0
pillow==11.1.0
pyzmq==26.2.1
sentry-sdk==2.21.0
scipy==1.13.1
matplotlib==3.9.4
parso==0.8.4
importlib_metadata==8.6.1
webencodings==0.5.1
zipp==3.21.0
astunparse==1.6.3
opt_einsum==3.4.0
yfinance==0.2.54
google-pasta==0.2.0
requests==2.32.3
debugpy==1.8.12
h5py==3.12.1
pydantic==2.10.6
soupsieve==2.6
markdown-it-py==3.0.0
GitPython==3.1.44
jedi==0.19.2
joblib==1.4.2
optree==0.14.0
gast==0.6.0
jupyter_client==8.6.3
beautifulsoup4==4.13.3
rich==13.9.4
asttokens==3.0.0
tqdm==4.67.1
urllib3==2.3.0
scikit-learn==1.6.1
tensorflow==2.16.2
exceptiongroup==1.2.2
click==8.1.8
ml-dtypes==0.3.2
appnope==0.1.4
lxml==5.3.1
numpy==1.26.4
tensorflow-metal==1.2.0
executing==2.2.0
stack-data==0.6.3
ta-lib==0.6.3
threadpoolctl==3.5.0
wandb==0.19.6
Werkzeug==3.1.3
psutil==6.1.1
kiwisolver==1.4.7
jupyter_core==5.7.2
pip==25.0
contourpy==1.3.0
peewee==3.17.9
gitdb==4.0.12
grpcio==1.70.0
mdurl==0.1.2
fonttools==4.56.0
python-dateutil==2.9.0.post0
flatbuffers==25.1.24
protobuf==4.25.6
charset-normalizer==3.4.1
ipython==8.18.1
wcwidth==0.2.13
packaging==24.2
termcolor==2.5.0
html5lib==1.1
certifi==2025.1.31
tensorboard==2.16.2
typeguard==2.13.3
tzdata==2025.1
libclang==18.1.1
pydantic_core==2.27.2
keras==3.8.0
cycler==0.12.1
comm==0.2.2
pure_eval==0.2.3
namex==0.0.8
tornado==6.4.2
pyparsing==3.2.1
docker-pycreds==0.4.0
wrapt==1.17.2
einops==0.8.1
typing_extensions==4.12.2
PyYAML==6.0.2
matplotlib-inline==0.1.7
tensorflow-macos==2.16.2
smmap==5.0.2
tensorboard-data-server==0.7.2
prompt_toolkit==3.0.50
platformdirs==4.3.6
ipykernel==6.29.5
frozendict==2.4.6
setproctitle==1.3.4
pytz==2025.1
annotated-types==0.7.0
eval_type_backport==0.2.2
importlib_resources==6.5.2
tensorflow-addons==0.20.0
MarkupSafe==3.0.2
future==0.18.2
six==1.15.0
wheel==0.37.0
altgraph==0.17.2
pip==21.2.4
macholib==1.15.2
setuptools==58.0.4
